#home {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 25px 0px 25px;
}

#chat-output {
  white-space: pre-line;
  height: calc(100% - 250px);
  padding: 15px;
  border: 1px solid gray;
  border-radius: 7px;
  overflow-y: scroll;
}

form {
  display: flex;
  flex-direction: column;
  gap: 7px;

  textarea {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 7px;
  }
}
