main {
  display: flex;
  flex-flow: column;
  height: 100%;

  nav {
    flex: 0 1 auto;
    padding: 25px 0px 25px 0px;

    ul {
      display: flex;
      justify-content: center;
      gap: 15px;
      list-style-type: none;
    }
  }

  footer {
    flex: 0 1 40px;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
  }
}
